{%extends 'base.html'%}
{% block content %}

<div id="main-content" class="container">
    <h2 id="menu-categories-title" class="text-center">Menu Categories</h2>
    
  <h2>Main course</h2>
  <h3>Panner Main Course</h3>
    <section class="row">
      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
          <div class="category-tile">
            <img width="230" height="200" src="/static/images/menu/Murthalspepanner.webp" alt="Lunch">
            
            <div class="line">Murthal Special
              <button> ADD </button>
              <div>Rs 350</div>
            </div> 
          </div>
          
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
        <div class="category-tile">
          <img width="230" height="200" src="/static/images/menu/Shahi-Paneer-1.jpg" alt="Lunch">
          <div class="line">Shahi Paneer
            <button> ADD </button>
            <div>Rs 350</div>
          </div>  
        </div>
       
    </div>
      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
        <div class="category-tile">
          <img width="230" height="200" src="/static/images/menu/punnerbutter.webp" alt="Lunch">
          <div class="line">Panner Butter 
            <button> ADD </button>
            <div>Rs 340</div>
          </div>  
        </div>
       
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
      <div class="category-tile">
        <img width="230" height="200" src="/static/images/menu/Kadai Paneer Recipe Restaurant style.jpg" alt="Lunch">
        <div class="line">Kadhai Paneer
          <button> ADD </button>
          <div>Rs 360</div>
        </div>  
      </div>
     
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
    <div class="category-tile">
      <img width="230" height="200" src="/static/images/menu/pannerpyaj.webp" alt="Lunch">
      <div class="line">Panner Do Pyaza
        <button> ADD </button>
        <div>Rs 330</div>
      </div>  
    </div>
   
</div>
<div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
  <div class="category-tile">
    <img width="230" height="200" src="/static/images/menu/palakpanner.webp" alt="Lunch">
    <div class="line">Palak Paneer
      <button> ADD </button>
      <div>Rs 320</div>
    </div>  
  </div>
 
</div>
<div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
  <div class="category-tile">
    <img width="230" height="200" src="/static/images/menu/chilipan.webp" alt="Lunch">
    <div class="line">Chilli Paneer
      <button> ADD </button>
      <div>Rs 340</div>
    </div> 
  </div>
  
</div>
<div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
  <div class="category-tile">
    <img width="230" height="200" src="/static/images/menu/pannerkeema.webp" alt="Lunch">
    <div class="line">Paneer Keema
      <button> ADD </button>
      <div>Rs 320</div>
    </div> 
  </div>
  
</div>
<div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
  <div class="category-tile">
    <img width="230" height="200" src="/static/images/menu/pannerkalimirch.webp" alt="Lunch">
    <div class="line">Paneer Kali Mirch
      <button> ADD </button>
      <div>Rs 320</div>
    </div> 
  </div>
  </div>
<br clear="left">
<h3>Chaap Main Course</h3>

      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
          <div class="category-tile">
            <img width="230" height="200" src="/static/images/menu/malaichaap red.webp" alt="Lunch">
            <div class="line">Red Gravy Chaap
              <button> ADD </button>
              <div>Rs 260</div>
            </div> 
          </div>
          
      </div>
      
      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
          <div class="category-tile">
            <img width="230" height="200" src="/static/images/menu/changa=ezichaap.webp" alt="Lunch">
            <div class="line">Changazi Chaap
              <button> ADD </button>
              <div>Rs 280</div>
            </div>         
          </div>
         
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
          <div class="category-tile">
            <img width="230" height="200" src="/static/images/menu/chaapkari.webp" alt="Lunch">
            <div class="line">Chaap Cury
              <button> ADD </button>
              <div>Rs 250</div>
            </div>          
          </div>
         
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
          <div class="category-tile">
            <img width="230" height="200" src="/static/images/menu/kadhaichhap.webp" alt="Lunch">
            <div class="line">Kadhai Chaap
              <button> ADD </button>
              <div>Rs 260</div>
            </div>          
          </div>
          
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
          <div class="category-tile">
            <img width="230" height="200" src="images/menu/kemmachaap.webp" alt="Lunch">
            <div class="line">Keema Chaap
              <button> ADD </button>
              <div>Rs 290</div>
            </div>      
          </div>
         
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
          <div class="category-tile">
            <img width="230" height="200" src="/static/images/menu/stuffchaap.webp" alt="Lunch">
            <div class="line">Stuffed Chaap
              <button> ADD </button>
              <div>Rs 320</div>
            </div>
          </div>
          
      </div>
      <div>
        <br clear="left">
        <h3>Others</h3>
      
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
          <div class="category-tile">
            <img width="230" height="200" src="/static/images/menu/biryani.webp" alt="Lunch">
            <div class="line">Biryani
              <button> ADD </button>
              <div>Rs 200</div>
            </div> 
          </div>
          
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
        <div class="category-tile">
          <img width="230" height="200" src="/static/images/menu/dalmak.jpeg" alt="Lunch">
          <div class="line">Dal Makhani
            <button> ADD </button>
            <div>Rs 230</div>
          </div> 
        </div>
        
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
      <div class="category-tile">
        <img width="230" height="200" src="/static/images/menu/dumallo.webp" alt="Lunch">
        <div class="line">Dum Aloo
          <button> ADD </button>
          <div>Rs 220</div>
        </div> 
      </div>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
    <div class="category-tile">
      <img width="230" height="200" src="/static/images/menu/kadhic.webp" alt="Lunch">
      <div class="line">Kadhi Chawla
        <button> ADD </button>
        <div>Rs 150</div>
      </div> 
    </div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
  <div class="category-tile">
    <img width="230" height="200" src="/static/images/menu/malikoof.jpeg" alt="Lunch">
    <div class="line">Malai Kofta
      <button> ADD </button>
      <div>Rs 320</div>
    </div> 
  </div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
  <div class="category-tile">
    <img width="230" height="200" src="/static/images/menu/mixveg.webp" alt="Lunch">
    <div class="line">Mix Veg
      <button> ADD </button>
      <div>Rs 220</div>
    </div> 
  </div>
</div>
<div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
        
  <div class="category-tile">
    <img width="230" height="200" src="/static/images/menu/mushroom.webp" alt="Lunch">
    <div class="line">Mushroom
      <button> ADD </button>
      <div>Rs 250</div>
    </div> 
  </div>
</div>
    </section>

  </div><!-- End of #main-content -->

{%endblock%}