{%extends 'base.html'%}
{% block content %}

<!-- 

  <h2>Main course</h2>
  <h3>Panner Main Course</h3>
  <section class="row">
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">

      <div class="category-tile">
        <img width="230" height="200" src="/static/images/menu/Murthalspepanner.webp" alt="Lunch">

        <div class="line">Murthal Special

          <div>Rs 350</div>
        </div>
        <form action="{{ url_for('cart') }}" method="post">
          <input type="hidden" name="product_image" value="/static/images/menu/Murthalspepanner.webp">
          <input type="hidden" name="product_name" value="Murthal Special">
          <input type="hidden" name="price" value="350">
          <input type="hidden" name="quantity" id="quantity" value="1">
          <button type="button" onclick="decreaseQuantity()">-</button>
          <span id="quantity-display">1</span>
          <button type="button" onclick="increaseQuantity()">+</button> 
          <button type="submit" class="addtocart">Add to Cart</button>
        </form>
      </div>

  </section> 

</div>End of #main-content -->
<div id="main-content" class="container">
  <h2 id="menu-categories-title" class="text-center">Menu Categories</h2>
  <h2>Panner Main course</h2>
  <div class="row">
    
    {% for product in products if not product.id>=9 %}
    
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <div class="category-tile">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <div class="text-center line">{{product.name}}
            <div class="text-center">Rs{{product.price}}</div>
          </div>
        </div>
        <div class="card-footer">
          <form action="{{url_for('cart')}}" method="post">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-warning addtocart">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>Chaap Main Course</h2>
  <div class="row">
    
    {% for product in products if product.id>=9 and product.id<=15 %}
    
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <div class="category-tile">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <div class="text-center line">{{product.name}}
            <div class="text-center">Rs{{product.price}}</div>
          </div>
        </div>
        <div class="card-footer">
          <form action="{{url_for('cart')}}" method="post">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-warning addtocart">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>Other Menu Items</h2>
  <div class="row">
    
    {% for product in products if product.id>15 and product.id<=22 %}
    
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <div class="category-tile">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <div class="text-center line">{{product.name}}
            <div class="text-center">Rs{{product.price}}</div>
          </div>
        </div>
        <div class="card-footer">
          <form action="{{url_for('cart')}}" method="post">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-warning addtocart">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>Breads</h2>
  <div class="row">
    
    {% for product in products if product.id>22 %}
    
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <div class="category-tile">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <div class="text-center line">{{product.name}}
            <div class="text-center">Rs{{product.price}}</div>
          </div>
        </div>
        <div class="card-footer">
          <form action="{{url_for('cart')}}" method="post">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-warning addtocart">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{%endblock%}