{%extends 'base.html'%}
{% block content %}
<div id="main-content" class="container">
  <h2 id="menu-categories-title" class="text-center">Menu Categories</h2>
  <h2>Panner Main course</h2>
  <div class="row">
    
    {% for product in products if not product.id>=9 %}
    
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <div class="category-tile">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <div class="text-center line">{{product.name}}
            <div class="text-center">Rs{{product.price}}</div>
          </div>
        </div>
        <div class="card-footer">
          <form action="{{url_for('addtocart')}}" method="post">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-warning addtocart">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>Chaap Main Course</h2>
  <div class="row">
    
    {% for product in products if product.id>=9 and product.id<=15 %}
    
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <div class="category-tile">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <div class="text-center line">{{product.name}}
            <div class="text-center">Rs{{product.price}}</div>
          </div>
        </div>
        <div class="card-footer">
          <form action="{{url_for('addtocart')}}" method="post">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-warning addtocart">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>Other Menu Items</h2>
  <div class="row">
    
    {% for product in products if product.id>15 and product.id<=22 %}
    
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <div class="category-tile">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <div class="text-center line">{{product.name}}
            <div class="text-center">Rs{{product.price}}</div>
          </div>
        </div>
        <div class="card-footer">
          <form action="{{url_for('addtocart')}}" method="post">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-warning addtocart">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <h2>Breads</h2>
  <div class="row">
    
    {% for product in products if product.id>22 %}
    
    <div class="col-md-3 col-sm-4 col-xs-6 col-xxs-12">
      <div class="category-tile">
        <img src="{{product.image}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <div class="text-center line">{{product.name}}
            <div class="text-center">Rs{{product.price}}</div>
          </div>
        </div>
        <div class="card-footer">
          <form action="{{url_for('addtocart')}}" method="post">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <button type="submit" class="btn btn-sm btn-warning addtocart">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{%endblock%}