{%extends 'base.html'%}
{% block content %}
 
<div id="main-content" class="container">
    <h2 id="menu-categories-title" class="text-center">Specials</h2>
<h3>Special Paranthas</h3>
    <section class="row">
      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
             
              <img class="img-responsive" width="250" height="150" src="/static/images/menu/para.webp" alt="Item">
            <button>Add</button>
            </div>
            <div class="menu-item-price">Rs 60 </div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Onion Paratha</h3>
            <p class="menu-item-details">Onion Paratha are delicious whole wheat flatbreads stuffed with piquant onions, spicy green chillies and savory spices. Also known as pyaz paratha, this is a crispy paratha variant made in many Punjabi homes for breakfast.  </p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
            
              <img class="img-responsive" width="250" height="150" src="/static/images/menu/palakpanner.webp" alt="Item">
              <button>Add</button>
            </div>
            <div class="menu-item-price">Rs 70</div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Palak Paratha</h3>
            <p class="menu-item-details">
              Palak Paratha is a healthy mouth-watering unleavened Indian flatbread that is crispy on the outside and soft on the inside. It is made with spinach, whole wheat flour, chilies, carom seeds and is onion-garlic free. Serve this tasty flatbread for breakfast with white butter, curd, or pickle.
            </p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <!-- Add after every 2nd menu-item-tile -->
      <div class="clearfix visible-lg-block visible-md-block"></div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              
              <img class="img-responsive" width="250" height="150" src="/static/images/menu/pizza-paratha-roti-pizza.jpg" alt="Item">
              <button>Add</button>
            </div>
            <div class="menu-item-price">Rs 150</div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Pizza Paratha</h3>
            <p class="menu-item-details">Palak Paratha is a healthy mouth-watering unleavened Indian flatbread that is crispy on the outside and soft on the inside. It is made with spinach, whole wheat flour, chilies, carom seeds and is onion-garlic free. Serve this tasty flatbread for breakfast with white butter, curd, or pickle. 
            </p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              
              <img class="img-responsive" width="250" height="150" src="/static/images/menu/desipanner.webp" alt="Item">
              <button>Add</button>
            </div>
            <div class="menu-item-price">Rs 110</div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Paneer Paratha</h3>
            <p class="menu-item-details">Paneer paratha is a popular North Indian flatbread made with whole wheat flour dough and stuffed with savory, spiced, grated paneer (Indian cottage cheese) stuffing. Paneer paratha is one of the most popular stuffed paratha varieties from Punjab and usually made for breakfast.</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <!-- Add after every 2nd menu-item-tile -->
      <div class="clearfix visible-lg-block visible-md-block"></div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              
              <img  width="250" height="150" src="/static/images/menu/eggpara.jpg" alt="Item">
              <button>Add</button>
            </div>
            <div class="menu-item-price">Rs 90</div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Egg Paratha</h3>
            <p class="menu-item-details">Egg Paratha is a spicy egg stuffed, protein-packed, whole-wheat paratha recipe for breakfast. Also known as Anda paratha, this paratha stuffed with eggs and spice mixture is a fulfilling Indian egg breakfast recipe for egg lovers!</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>

      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              
              <img  width="250" height="150" src="/static/images/menu/greenpeaspa.jpg" alt="Item">
              <button>Add</button>
            </div>
            <div class="menu-item-price">Rs 80</div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Green Peas Paratha</h3>
            <p class="menu-item-details">Green peas paratha is a delicious whole wheat flatbread stuffed with spiced mashed peas filling. These no onion no garlic matar paratha can be made for a filling breakfast or lunch or can also be packed in a lunch box.</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <!-- Add after every 2nd menu-item-tile -->
      <div class="clearfix visible-lg-block visible-md-block"></div>
      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              
              <img  width="250" height="150" src="/static/images/menu/murthalspe.jpg" alt="Item">
              <button>Add</button>
            </div>
            <div class="menu-item-price">Rs 150</div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Murthal Special</h3>
            <p class="menu-item-details">This Murthal Special is a delicious whole wheat flatbread stuffed with spiced mashed peas filling. These no onion no garlic matar paratha can be made for a filling breakfast or lunch or can also be packed in a lunch box.</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              
              <img  width="250" height="150" src="/static/images/menu/thepla.jpg" alt="Item">
              <button>Add</button>
            </div>
            <div class="menu-item-price">Rs 80</div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Thepla</h3>
            <p class="menu-item-details">Thepla is a soft Indian flatbread typical of Gujarati cuisine

              It is typically enjoyed as a breakfast, or can be eaten for snacks.[2] It can also be served as a side dish with a meal, or as a snack in the late afternoon. Thepla can be made with wheat flour, besan (gram flour), methi (fenugreek leaves) and other spices. Thepla can be enjoyed together with dahi (yogurt), red garlic chutney and chhundo (sweet mango pickle).</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
      <div class="clearfix visible-lg-block visible-md-block"></div>
      <div class="menu-item-tile col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <div class="menu-item-photo">
              
              <img  width="250" height="150" src="/static/images/menu/kulchaparatha.jpg" alt="Item">
              <button>Add</button>
            </div>
            <div class="menu-item-price">Rs 150</div>
          </div>
          <div class="menu-item-description col-sm-7">
            <h3 class="menu-item-title">Special Kulcha Paratha</h3>
            <p class="menu-item-details">Stuffed Vegetable Kulcha is a soft and fluffy Indian leavened bread which is made stuffed with seasonal vegetables. It's also a delicious way to feed more vegetables to kids or use up leftover vegetables form the previous meal. They work well with any North indian menu, served with Channa and Raita, or even plain with melted butter for breakfast. You could also pack it in a school lunch box along with a Paneer Curry.</p>
          </div>
        </div>
        <hr class="visible-xs">
      </div>
    </section>

  </div><!-- End of #main-content -->

{%endblock%}